$white: #FFF;
$white_alt: #FAFAFC;
$black: #0F1522;
$black_alt: #292D32;
$gray: #515D74;
$gray_alt:#666666;
$gray_alt_1: #C4C4C4;
$gray_alt_2: #DADCE1;
$gray_alt_3: #CCCBCC;
$pink: #F30168;
$green: #10C300;
